* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
a {
  color: #333;
  text-decoration: none;
}
h1,
h2,
h3 {
  padding-bottom: 20px;
}
p {
  margin: 10px 0;
}
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}
.lead {
  color: #f7c08a;
}
.btn {
  background-color: #333;
  color: #fff;
  display: inline-block;
  padding: 13px 20px;
  font-size: 18px;
  cursor: pointer;
}
.btn-light {
  background: #f4f4f4;
  color: #333;
}
.bg-dark {
  background: #333;
  color: #fff;
}
.bg-primary {
  background: #f7c08a;
  color: #333;
}
.btn:hover {
  background-color: #f7c08a;
  color: #333;
}
.clr {
  clear: both;
}
/* Navbar */

#navbar {
  background-color: #333;
  color: #fff;
  overflow: auto;
}
#navbar a {
  color: #fff;
}
#navbar h1 {
  float: left;
  padding-top: 20px;
}
#navbar ul {
  float: right;
  list-style: none;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
#navbar ul li a:hover {
  color: #f7c08a;
  background: #444;
}
/* Showcase */
#showcase {
  background: url(../img/showcase.jpg) no-repeat center center/cover;
  height: 600px;
}
#showcase .showcase-content {
  text-align: center;
  color: #fff;
  padding-top: 170px;
}
#showcase h1 {
  font-size: 60px;
  line-height: 1.4em;
}
#showcase p {
  font-size: 20px;
  padding-bottom: 20px;
  line-height: 1.7em;
}
/* Home-info */
#home-info {
  height: 400px;
}
#home-info .info-img {
  background: url(../img/photo-1.jpg) no-repeat;
  float: left;
  width: 50%;
  min-height: 100%;
}
#home-info .info-content {
  float: right;
  overflow: hidden;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 70px 30px;
}
#home-info p {
  padding-bottom: 20px;
}
.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}
.box i {
  margin-bottom: 10px;
}
#main-footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
